@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

/* body fix + reset */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Portfolio Header */

#portfolioUeberschrift {
    display: flex;
    justify-content: center;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10px;
}

#portfolioUntertitel {
    display: flex;
    justify-content: center;
    font-family: 'Consolas';
    align-self: center;
    margin-bottom: 50px;
    font-size: 30px;
    margin-bottom: 75px;
}

/* Container */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: #1C1B1B;
    border-radius: 25px;
    text-align: center;
    width: 750px;
}

body {
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    /*background-image: linear-gradient(to right bottom, #002dff, #0083ff, #00b4ff, #00ddfe, #00ffdd);*/
    /*background-image: linear-gradient(to right bottom, #1d1d1d, #3d3d3d, #606060, #868686, #aeaeae);*/
    background-image: linear-gradient(to right bottom, #007aff, #6872ff, #a063ff, #d24aff, #ff00f4);
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: hidden;
}   

/* Tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 3px solid #1C1B1B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Consolas';
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 18px;
    transition: 0.3s;
}

/* reset pre tag */
pre {
    margin: 0;
    padding: 0;
}

.tab button:focus {
    background-color: rgb(197, 197, 197);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(197, 197, 197);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(197, 197, 197);
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 396px;
    font-size: 22px;
    border: 3px solid #1C1B1B;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: Consolas;
    text-align: left;
    padding: 6px 12px;
    border-top: none;
}

/* adjusting stack overflow style */
#Code pre code.hljs {
    padding: 1em 1em 0 1em;
}

/* Gets added whenever a tab button is pressed */

.focused {
    background-color: rgb(197, 197, 197);
}

/* Run Code Button */

.runBtn {
    /* position: absolute; */
    /* bottom: 8%; */
    display: inline-flex;
    width: 160px;
    height: 40px;
    background-color: rgb(44, 156, 0);
    margin-left: 1.5%;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.runBtn:hover {
    background-color: rgb(40, 139, 0);
}

.runBtn:active {
    background-color: rgb(40, 139, 0);
}

.button__text,
.button__icon {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    padding: 0 22px;
    color: #fff;
    height: 100%;
}

.button__text {
    width: 30px;
}

.button__icon {
    width: 34px;
    font-size: 5em;
    background: rgba(0, 0, 0, 0.08);
}

/* Text */

.ueberschrift {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: 1000;
    font-size: 26px;
    color: rgb(255, 255, 255);

}

.text {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* Social Media Icons Container */

.social-profiles {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}

/* Social Media Icons */

.icons {
    color: #1C1B1B;
    margin-top: 10px;
    padding: 10px;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 4em;
}

.icons:hover {
    color: white;
}

/* Href */

#link {
    color: #aaa;
}